@(
    root:java.io.File
)

@import views.Application.html.fileList


<link href="/public/stylesheets/editor.less" rel="stylesheet" type="text/css" charset="utf-8"></link>
    
<div id="files-window">
  @fileList(root)
</div>

<div id="editors">
  <div id="tab-container"></div>
  <div id="editor-container"></div>
</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" language="javascript" charset="utf-8"></script>
<script src="https://raw.github.com/douglascrockford/JSON-js/master/json2.js" type="text/javascript" charset="utf-8"></script>
<script data-main="/public/javascripts/editor.js" src="/public/javascripts/ace/demo/require.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>

